# Python数据分析练习

## 背景

22年求职很难，裁员潮席卷海外科技圈，国内的大厂也在‘响应’，所以，就想看看Boss直聘上的上海地区，关于数据科学的岗位有哪些？能否有些值得研究的地方，供我们分析得出一些帮助我们求职的结论（具体是什么，我也不清楚，走一步看一步）

## 获取数据

[网站链接](https://www.zhipin.com/web/geek/job?query=%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90&city=101020100&experience=102,101,108&degree=203&scale=303,304,305,306&salary=405)

（1）你需要想办法把这里的数据搞下来，你可以用任何的方法

需要以下字段：
- 岗位名称：position
- 公司名称：company
- 薪水：salary
- 地理位置：location
- 技能细节：detail
- 公司详情：info
- 公司标签：comp_tag
- 经验：experience

如下图：

![](https://github.com/datoujinggzj/WhaleDataScienceProject/blob/master/pic/boss_pic?raw=true)

In [8]:
import pandas as pd

## 清洗数据

### （1）如果一个公司有多个tag，合并成一个列表

![](https://github.com/datoujinggzj/WhaleDataScienceProject/blob/master/pic/boss2.png?raw=true)

### （2）如果一个公司涉及多个skill，拆成列表的形式

### （3）找到所有实习岗位

,position,company,loc,salary,detail,info,experience,comp_tag
3,2023校招-CRM 数据分析实习生,特斯拉 Tesla,上海·浦东新区·世博,10-15K,[SQL],免费班车，年终奖，餐补，五险一金，加班补助，带薪年假，补充医疗保险，定期体检，通讯补贴，住房...,在校/应届,"[汽车生产, 已上市, 10000人以上]"
199,机器学习算法实习生,叠纸游戏,上海·杨浦区·东外滩,7-12K,[深度学习算法算法设计PythonC++数据分析],年终奖，定期体检，节日福利，员工旅游，带薪年假，五险一金，补充医疗保险，零食下午茶，餐补，全勤奖,经验不限,"[游戏, B轮, 1000-9999人]"
214,电商数据分析实习生（可留用）,新略数智,上海·静安区·静安寺,8-12K·13薪,"[数据分析数学, 统计学专业电商]",年终奖，节日福利，五险一金，零食下午茶，带薪年假，【红杉投资】，员工旅游，股票期权,在校/应届,"[计算机软件, A轮, 100-499人]"

### （4）工资拆解为薪资区间和多少薪，如果没有用‘暂无’代替

In [28]:
'像这样'

       薪资区间   n薪
0    16-20K  16薪
1    15-18K  13薪
2    15-20K  15薪
3    10-15K   暂无
4    12-20K   暂无
..      ...  ...
265  15-30K  13薪
266  15-30K  15薪
267  15-20K   暂无
268   8-13K  13薪
269  14-25K  13薪

[270 rows x 2 columns]

### （5）薪资区间拆解为下限和上限，数据类型为整型

### （6）删掉salary这一列

### （7）更改列名

In [94]:
df1.columns # 更改后的如下

Index(['岗位', '公司', '位置', '技能', '详情', '经验', '标签', '区间', 'n薪', '下限', '上限'], dtype='object')

### （8）display数据框，满足下面要求

- 最大列宽：1000
- 隐藏列：技能、详情
- 取前10行
- 上限和下限后面都加个k
- 隐藏index
- 上下限的最小值高亮为 `#90ee90`
- 上下限的最大值高亮为 `#ff8725`

### （9）构建透视表

需求：找到薪资区间在10-15k的上海各个区的岗位分布，对最大值进行高亮，颜色为`#b1e6e3`

### （10）使用Plotly作图

TOP10行业的岗位数量分布饼图

![](https://github.com/datoujinggzj/WhaleDataScienceProject/blob/master/pic/pie_plot.png?raw=true)